:root {
  --color-primary: #143f23;
  --color-primary-light:#1c5f32;
  --color-primary-dark: #1d783b;

  /* buttons color */
  --color-btn-primary: #dd6213;
  /* --color-btn-primary-light: #4f7b8c;
  --color-btn-primary-dark: #3d5963; */
  --color-btn-hover: #f8c079;

  /* text colors */
  --color-text-primary: #ffff;
  --color-text-secondary:#2d1107;

  /* background colors */
  --color-bg-primary:#fef8ee;
  /* --color-bg-secondary: #efeee9;
  --color-bg-tertiary: #e3e3e3; */


  /* borders colors */
  --color-border-primary: #dd6213;


  /* grey shades */
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --color-error: #ffebee;
  --color-error-dark: #dd6213;

  --card-padding: 2.4rem;
  --card-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}