@import url(../style/base/base.css);
@import url(../style/base/typography.css);
@import url(../style/base/variables.css);
@import url(../style/Components/buttons.css);
@import url(../style/base/general.css);
@import url(../style/base/utilities.css);
@import url(../style/mediaqueries/general.css);
@import url(../style/components/checkbox.css);

.allergy-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.basic-container {
  margin-top: 0 !important;
  z-index: 1001;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 1rem;
  color: var(--color-text-primary);
  max-width: 100%;
  margin: 0 auto;
  scroll-behavior: smooth;
  overflow: hidden;
  transform: scale(1.1);
  border-radius: 1.5rem;
}
.form-container {
  transform: scale(1.1);
  padding: 3rem 7rem 2rem 7rem;
  background-color: var(--color-bg-primary);
  max-width: 400px;
  box-shadow: 2px 2px 10px rgba(190, 12, 12, 0.1);
  width: 100%;
  margin: 0 auto;
}

.h1 {
  text-align: center;
  font-family: "Rubik", sans-serif;
  color: var(--color-primary);
}

.h2 {
  font-family: "Rubik", sans-serif;
  color: var(--color-primary);
}

.checkbox-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  gap: 10px 30px;
  color: var(--color-primary);
  margin-bottom: 20px;
}

.checkbox-group label {
  font-family: "Rubik", sans-serif;
  font-size: 15px;
}

.phone-label {
  display: block;
  margin-bottom: 5px;
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: var(--color-text-primary);
}

.phone-input {
  width: 100%;
  padding: 8px;
  border-radius: 15px;
  font-size: 1rem;
  margin-bottom: 20px;
  border: 2px solid var(--color-border-primary);
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 10px 20px;
  font-family: "Rubik", sans-serif;
  border: 2px solid #333;
  background-color: var(--color-btn-primary);
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 15px;
  border-radius: 15px;
}

button:hover {
  background-color: var(--color-btn-hover);
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all ease 0.2s;
  font-size: 3rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  text-align: center;
}

.btn--full,
.btn--full:link,
.btn--full:visited {
  background-color: var(--color-btn-primary);
  color: var(--color-text-secondary);

  padding: 6px 6px;
  font-size: 13px;
}

.btn--full:hover,
.btn--full:active {
  background-color: var(--color-btn-hover);
  color: var(--color-text-primary);
}

@media (max-width: 600px) {
  .checkbox-group {
    grid-template-columns: 1fr;
  }

  .button-group {
    flex-direction: column;
  }

  .btn {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .form-container {
    padding: 20px;
    margin-top: 10rem;
  }

  .h1 {
    font-size: 2rem;
  }

  .h2 {
    font-size: 1.5rem;
  }

  .phone-label {
    font-size: 14px;
  }

  .phone-input {
    font-size: 0.9rem;
  }
}
