@import url(/style/base/base.css);
@import url(/style/base/typography.css);
@import url(/style/base/variables.css);
@import url(/style/Components/buttons.css);
@import url(/style/base/general.css);
@import url(/style/base/utilities.css);
@import url(/style/mediaqueries/general.css);

body {
  font-family: 'Rubik', sans-serif;
  background-color: var(--color-bg-primary);


} 
.basic-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
  color: var(--color-text-primary);
  max-width: 100%;
  margin: 0 auto;
  margin-top: 15rem;
  scroll-behavior: smooth;
  overflow: hidden;

}
.form-container {
  border: 2px solid #333;
  border-color: var(--color-border-primary);

  /* padding: 20px 30px; */
  padding-top: 50px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 0px;
  background-color: var(--color-bg-secondary);
  max-width: 400px;
  box-shadow: 2px 2px 10px rgba(190, 12, 12, 0.1);
  width: 100%;
  padding-bottom: 2rem;

  margin: 0 auto;
  margin-bottom: 1rem;
  border-radius: 20px;
}

.h1 {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  color: var(--color-primary);

}

.h2 {

  font-family: 'Rubik', sans-serif;
  color: var(--color-primary);

}

.checkbox-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  gap: 10px 30px;
  color: var(--color-text-primary);
  margin-bottom: 20px;
}

.checkbox-group-hover:hover {
  color: var(--color-primary);
  background-color: var(--color-bg-secondary);
  border-radius: 15px;
  transition: background-color 0.3s, color 0.3s;
  font-size: 2rem ;
}

.checkbox-group label {
  font-family: 'Rubik', sans-serif;
  font-size: 15px;

}

.phone-label {
  display: block;
  margin-bottom: 5px;
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: var(--color-text-primary);
}

.phone-input {
  width: 100%;
  padding: 8px;
  border-radius: 15px;
  font-size: 1rem;
  margin-bottom: 20px;
  border: 2px solid var(--color-border-primary);
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 10px 20px;
  font-family: 'Rubik', sans-serif;
  border: 2px solid #333;
  background-color: var(--color-btn-primary);
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 15px;
  border-radius: 15px;
}

button:hover {
  background-color: var(--color-btn-hover);
}


.btn,
.btn:link,
.btn:visited {
  /* this is inline element, make it inline-block so that the box model applies as usual */
  display: inline-block;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all ease 0.2s;
  font-size: 3rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  text-align: center;

}


.btn--full,
.btn--full:link,
.btn--full:visited {
  /* background-color: var(--color-btn-primary);
   color: var(--color-text-secondary);  */
  background-color: var(--color-btn-primary);
  color: var(--color-text-secondary);
  border-radius: 12px;
  padding: 6px 6px;
  font-size: 13px;
  /* box-shadow: 2px 2px 5px rgba(0,0,0,0.2); */
}

.btn--full:hover,
.btn--full:active {
  background-color: var(--color-btn-hover);
  color: var(--color-text-primary);
}



@media (max-width: 600px) {
  .checkbox-group {
    grid-template-columns: 1fr;
  }

  .button-group {
    flex-direction: column;
  }

  .btn {
    width: 100%;
  }
}




@media (max-width: 768px) {
  .form-container {
    padding: 20px;
    margin-top: 10rem;
  }

  .h1 {
    font-size: 2rem;
  }

  .h2 {
    font-size: 1.5rem;
  }

  .phone-label {
    font-size: 14px;
  }

  .phone-input {
    font-size: 0.9rem;
  }
}