@import url(../../base/variables.css);
@import url(../../base/base.css);
@import url(../../base/typography.css);
@import url(../../components/buttons.css);
@import url(../../base/general.css);
@import url(../../base/utilities.css);
@import url(../../components/sideNav.css);
@import url(../../components/meal.css);
@import url(../../mediaqueries/general.css);
@import url(../../components/checkbox.css);



.container {
    display: flex;
    min-height: 100vh;
    max-width: 100%;
}

/* MAIN CONTENT */
.main-content {
    position: relative;
    flex: 1;
    overflow-y: auto;
    padding: 2rem;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

.header-title h1 {
    font-size: 2.8rem;
    font-weight: bold;
    color: var(--color-primary);
}

.search-bar {
    flex: 1;
    margin: 0 3rem;
    position: relative;
}

.search-bar input {
    width: 100%;
    padding: 1.2rem 1.2rem 1.2rem 4rem;
    border-radius: 3rem;
    border: 1px solid #e0e0e0;
    font-size: 1.6rem;
}

.search-bar i {
    position: absolute;
    left: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
}

.header-actions {
    display: flex;
    align-items: center;
}


.user-greeting {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: var(--color-primary);
}


/* SECTION STYLES */
.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.section-header h2 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-primary);
}



/* CATEGORY SECTION */
.category-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: flex-start;
}

.category-item {
    background-color: white;
    border-radius: 1rem;
    padding: 1.5rem;
    text-align: center;
    cursor: pointer;
    transition: box-shadow 0.3s;
    flex: 1 1 auto;
    max-width: 200px;
}

.category-item:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.category-item img {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
    margin-bottom: 1rem;
}

.category-item p {
    font-size: 1.4rem;
}