@import url(../../base/variables.css);
@import url(../../base/base.css);
@import url(../../base/typography.css);
@import url(../../components/buttons.css);
@import url(../../base/general.css);
@import url(../../base/utilities.css);
@import url(../../mediaqueries/general.css);
@import url(../../components/sideNav.css);
@import url(../../pages/user/home.css);



body {
  line-height: 1;
  color: var(--color-primary);
  font-weight: 400;
  overflow-x: hidden;
  background-color: var(--color-bg-primary);
}
/* Navbar Styles */

.navbar {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  padding: 2rem;
  font-size: 3rem;
  margin-bottom: 0;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.5px;
}

/* Table Styles */
/* Basic Table Styles */
.orders-table {
  width: 100%;
  margin-top: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 4rem auto;
  border-collapse: collapse;
  background-color: var(--color-bg-secondary);
  border-radius: 1.6rem;
  overflow: hidden;
}

/* Table Headers */
.orders-table th,
.orders-table td {
  padding: 1.6rem;
  text-align: left;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.5px;
  border-bottom: 1px solid var(--color-border-primary);
}

.orders-table th {
  font-size: 3rem;
  font-size: 1.5rem;
  line-height: 1.2;
  flex-shrink: 0;
  margin-bottom: 1.6rem;
  color: var(--color-text-primary);
  background-color: var(--color-bg-secondary);
}

.orders-table td {
  font-size: 3rem;
  font-size: 1.2rem;
  line-height: 1.2;
  flex-shrink: 0; 
  margin-bottom: 1.6rem;
  color: var(--color-btn-primary);
}

/* View Details Link */
.view-details {
  color: var(--color-btn-primary);
  text-decoration: underline;
  transition: color 0.2s ease;
}

.view-details:hover {
  color: var(--color-btn-hover);
}

/* Standardize button styles */
.btn--status,
.btn--order-again {
  padding: 0.8rem 1.2rem; /* Reduced padding for smaller size */
  border-radius: 9px; /* Consistent rounded corners */
  font-size: 1.2rem; /* Smaller text size */
  min-width: 10rem; /* Ensures equal width */
}

/* Completed Button */
.ordersstatus {
  background-color: var(--color-btn-hover);
  color: var(--color-text-secondary);
}

/* Order Again Button */
.btn--order-again {
  background-color: var(--color-btn-primary);
  color: var(--color-text-secondary);
}

.btn--order-again:hover {
  background-color: var(--color-btn-hover);
}
/* Order Status Button */
