/* Import base styles */
@import url(../../base/variables.css);
@import url(../../base/base.css);
@import url(../../base/typography.css);
@import url(../../components/buttons.css);
@import url(../../base/general.css);
@import url(../../base/utilities.css);
@import url(../../mediaqueries/general.css);
@import url(../../components/sideNav.css);
@import url(../../pages/user/home.css);

body {
  line-height: 1;
  color: var(--color-primary);
  font-weight: 400;
  overflow-x: hidden;
  background-color: var(--color-bg-primary);
}

/* Navbar Styles */
.navbar {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  padding: 2rem;
  font-size: 3rem;
  margin-bottom: 2rem;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.5px;
}

/* Table Styles */
.orders-table {
  width: 100%;
  margin-top: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 4rem auto;
  border-collapse: collapse;
  background-color: var(--color-bg-secondary);
  border-radius: 1.6rem;
  overflow: hidden;
}

.orders-table th,
.orders-table td {
  padding: 1.6rem;
  text-align: left;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.5px;
  border-bottom: 1px solid var(--color-border-primary);
}

.orders-table th {
  font-size: 1.5rem;
  line-height: 1.2;
  flex-shrink: 0;
  margin-bottom: 1.6rem;
  color: var(--color-primary);
  background-color: var(--color-bg-secondary);
}

.orders-table td {
  font-size: 1.2rem;
  line-height: 1.2;
  flex-shrink: 0;
  margin-bottom: 1.6rem;
  color: var(--color-btn-primary);
}

.view-details {
  color: var(--color-btn-primary);
  text-decoration: underline;
  transition: color 0.2s ease;
}

.view-details:hover {
  color: var(--color-btn-hover);
}


/* Popup Styles */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popup:target {
  display: block;
}

.popup-content {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 6px;
  font-family: cursive;
  background-color: var(--color-bg-secondary);
  border-radius: 1.6rem;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  padding: 30px 40px;
  box-sizing: border-box;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 24px;
  color: var(--color-btn-primary);
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.2s ease;
  z-index: 10;

  &:hover {
    color: var(--color-btn-hover);
  }
}

.question {
  font-size: 1.8rem;
  font-family: 'rubik', sans-serif;
  color: var(--color-text-primary);
  margin-bottom: 20px;
}

.rating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.rating label {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.rating input[type="radio"] {
  display: none;
}

.rating-number {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--color-text-primary);
  padding: 10px 20px;
  border: 1px solid var(--color-border-primary);
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.rating input[type="radio"]:checked+.rating-number {
  background-color: var(--color-btn-primary);
  color: white;
}

.interest {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.interest input[type="checkbox"] {
  margin-right: 10px;
}

.next-btn {
  padding: 12px 20px;
  border-radius: 1.1rem;
  background-color: var(--color-btn-primary);
  color: var(--color-text-secondary);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  font-size: 1.4rem;
}

.next-btn:hover {
  background-color: var(--color-btn-hover);
}


