@import url(../../base/variables.css);
@import url(../../base/base.css);
@import url(../../base/typography.css);
@import url(../../components/buttons.css);
@import url(../../components/checkbox.css);
@import url(../../base/general.css);
@import url(../../base/utilities.css);
@import url(../../mediaqueries/general.css);



.wave {
  position: absolute;
  top: -33px;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

.wave svg {
  display: block;
  width: 100%;
  height: auto;
}


body {
  height: 100vh;
  /* padding: 20px; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  background-color: var(--color-bg-tertiary);
}

.meal_details {
  padding: 0 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  max-width: 800px;
  width: 100%;
  text-align: left;
  margin-top: 12rem;
}

.caption {
  flex: 1 1 300px;
  color: var(--color-primary-dark);
}

.meal_name {
  color: var(--color-text-primary);
}

.meal_description {
  color: var(--color-primary-dark);
}

.description.allergy_warning {
  color: chocolate;
  border: 1px solid chocolate;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 1.2rem;
}

/* .grid.grid-3-cols.ingredients_list {
  align-items: baseline;
  display: grid;
  gap: 1.1rem;
  margin-top: 2rem;
} */
.ingredients_list {
  /* align-items: baseline; */
  gap: 1.1rem;
  /* margin-top: 2rem; */
}

.ingredient-item {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 1.2rem;
}

label.description {
  margin: 0;
}

p.description {
  color: var(--color-text-primary);
  /* margin-bottom: -1.5rem; */
}

.meal_price {
  color: var(--color-text-primary);
  margin-top: 0.8rem;
}

.meal_image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

/* .container .meal_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  } */
.container img {
  width: 50%;
  /* height: 100%; */
  object-fit: cover;
  /* box-shadow: -9px 7px 34px var(--color-text-primary); */
  filter: drop-shadow(-9px 7px 34px var(--color-text-primary));
  display: block;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .grid-3-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .meal_image {
    width: 200px;
    height: 200px;
  }

  .caption {
    width: 100%;
  }

  .description.allergy_warning {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 480px) {
  .meal_image {
    width: 160px;
    height: 160px;
  }

  .meal_name {
    font-size: 2.5em;
  }

  .meal_description {
    font-size: 1.6em;
  }

  .meal_price {
    font-size: 1.6em;
  }
}

.buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.btn,
.buttons .add_to_cart {
  background-color: var(--color-text-primary);
  color: var(--color-text-secondary);
  font-size: 1.7rem;
  padding: 0.6rem 2.2rem;
  border-radius: 1.2rem;
  box-shadow: 4px 1rem 1rem rgba(0, 0, 0, 0.08);
}

.btn:hover,
.buttons .add_to_cart:hover {
  background-color: var(--color-text-primary);
  color: var(--color-btn-primary-light);
  box-shadow: 4px 1rem 1rem rgba(0, 0, 0, 0.08);
}

.quantity-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.quantity__btn {
  background-color: var(--color-text-secondary);
  color: var(--color-text-primary);
  font-size: 1.7rem;
  padding: 0.6rem 2.2rem;
  box-shadow: 4px 1rem 1rem rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 1.2rem;
  cursor: pointer;
}

.quantity__btn:hover {
  background-color: var(--color-btn-primary-light);
}

.quantity__display {
  background-color: var(--color-text-primary);
  color: var(--color-text-secondary);
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.192);
  font-size: 1.7rem;
  padding: 0.6rem 2.2rem;
  border-radius: 1.2rem;
  min-width: 8rem;
  text-align: center;
}

@media (max-width: 59em) {
  .buttons {
    justify-content: center;
  }

  .quantity-selector {
    gap: 0.6rem;
  }

  .quantity__btn {
    font-size: 2rem;
    padding: 0.6rem 2.2rem;
  }

  .quantity__display {
    font-size: 1.7rem;
    padding: 0.6rem 2.2rem;
  }
}