<aside class="sidebar">
  <div class="logo">
    <img src="../../img/logo/onCloudNine-white.svg" alt="OCN Logo" />
  </div>

  <nav class="navigation">
    <a href="../pages/admin/admin_landing.php" class="nav-item">
      <i class="fas fa-home"></i>
      <span>Homepage</span>
    </a>
    <a href="" class="nav-item">
      <i class="fa-solid fa-utensils"></i>
      <span>meal</span>
    </a>
    <a href="" class="nav-item">
      <i class="fas fa-list"></i>
      <span>category</span>
    </a>
  </nav>
</aside>
