    <aside class="sidebar">
      <div class="logo">
        <img src="../img/logo/onCloudNine-white.svg" alt="OCN Logo" />
      </div>

      <nav class="navigation">
        <a href="#" class="nav-item">
          <i class="fas fa-home"></i>
          <span>Homepage</span>
        </a>
        <a href="#" class="nav-item">
          <i class="fas fa-shopping-cart"></i>
          <span>Cart</span>
        </a>
        <a href="#" class="nav-item">
          <i class="fas fa-list"></i>
          <span>Orders</span>
        </a>
        <a href="#" class="nav-item">
          <i class="fas fa-user"></i>
          <span>Profile</span>
        </a>
      </nav>
    </aside>