/* Custom Checkbox */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 1.5rem;
    user-select: none;
    color: var(--color-primary-dark);
    text-align: left;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: -4px;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: var(--color-bg-tertiary);
    border-radius: 6px;
    border: 2px solid var(--color-border-primary);
}

.checkbox-container:hover input~.checkmark {
    background-color: var(--color-bg-tertiary);
}

.checkbox-container input:checked~.checkmark {
    background-color: var(--color-btn-hover);
}

.checkbox-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 6px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.checkbox-container input:checked~.checkmark:after {
    display: block;
}