/* SIDEBAR STYLES */
.sidebar {
    width: 220px;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* height: 100vh; */
}

.logo {
    padding: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.logo img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.navigation {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem 2rem;
    font-size: 1.6rem;
    text-decoration: none;
    color:#f7e6c2;
    transition: all 0.3s;
}

.nav-item:hover {
    background-color: var(--color-bg-primary);
    color: var(--color-primary);
}

.nav-item i {
    width: 2rem;
    display: flex;
    justify-content: center;
}

.nav-spacer {
    flex: 1;
    min-height: 2rem;
}

.logout-item {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    /* margin-top: auto; */
    background-color: rgba(0, 0, 0, 0.1);
}

.logout-item:hover {
    background-color: var(--color-accent);
    color: var(--color-text-secondary);
}

.logout-item i {
    color: var(--color-accent);
}

.logout-item:hover i {
    color: var(--color-text-secondary);
}