.heading-primary,
.head-allergies{
    font-weight: 700;
    line-height: 1.05;
    letter-spacing: -0.5px;
}

.head-allergies{
    text-align: center;
font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
}
